# Core
pandas==2.1.4
numpy==1.26.4



# Data Visualization
matplotlib==3.7.5
seaborn==0.13.2

# Machine Learning
scikit-learn==1.3.2

# # Notebook
# jupyter==1.0.0
# notebook==7.2.0

# Date handling (optional but useful)
python-dateutil==2.9.0

# # Synthetic data (optional, already used)
# faker==25.2.0

# Performance / utilities (optional)
tqdm==4.66.4

# Plot styling (optional)
plotly==5.22.0